<footer class=" text-center fixed-bottom container" >
    <div class="container p-4">
        <form class="">
            <div class="d-flex">
                <input class="form-control border border-success d-inline-flex focus-ring focus-ring-success py-1 px-2 text-decoration-none border rounded-2" placeholder="Text" type="text" >
                <br>
                <button class="btn btn-outline-success ml-auto">
                    <i class="bi bi-send-fill"></i>
                </button>
            </div>
        </form>
    </div>
</footer>