<!-- Button trigger modal -->
<button class="btn btn-outline-success me-2 " data-bs-target="#list_files" data-bs-toggle="modal" id="load-fruit-btn"
        type="button">
    Data files
</button>

<!-- Modal -->
<div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade" id="list_files" tabindex="-1">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5 text-success" id="exampleModalLabel">Data Files</h1>
                <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
            </div>
            <div class="modal-body">
                <ul class="list-group list-group-numbered" id="fruit-list">
                </ul>
            </div>
            <div class="modal-footer">
                <button class="btn btn-success" data-bs-dismiss="modal" type="button">Close</button>
            </div>
        </div>
    </div>
</div>

<script>
    // Set up the button to fetch the fruit list when clicked
    document.getElementById('load-fruit-btn').addEventListener('click', function () {
        // Make an AJAX request to the FastAPI endpoint
        fetch('/list_files')
            .then(response => response.json())
            .then(data => {
                // Display the list of fruits in the <ul> element
                const fruitList = data.data_files;
                const fruitListElement = document.getElementById('fruit-list');
                fruitListElement.innerHTML = ''; // Clear existing list

                fruitList.forEach(fruit => {
                    const listItem = document.createElement('li');
                    listItem.className = "list-group-item"
                    listItem.textContent = fruit;
                    fruitListElement.appendChild(listItem);
                });
            })
            .catch(error => console.error('Error fetching data:', error));
    });
</script>